.nav {
  padding: 30px;
  background-color: #4b55cb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn {
  padding: 6px;
  background-color: #fff;
  color: #4b55cb;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.btn:hover {
  background-color: indianred;
  color: #fff;
}
